.container {
  position: relative;
  top: 25vh;
  width: 60%;
  margin: 0 auto;
}

#title {
  position: relative;
  font-size: 90px;
  text-align: center;
}

/* CONTROLS */

#controls {
  text-align: center;
}

#start {
  display: inline-block;
  font-size: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

.playerChoice {
  display: inline-block;
  font-size: 45px;
  padding: 25px;
  cursor: pointer;
}

#arrowLeft {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-image: url("/images/arrowLeft.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#redo {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-image: url("/images/loop.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

/*End of Controls*/

#board {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.square {
  border: 2.5px solid rgb(130, 151, 190);

  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;

  border-radius: 15%;
  margin: 2px;
  padding: 5% 0; /*centers*/
}

/* cross circle empty images to fill board */

.x {
  background-image: url("/images/cross.png");
}

.o {
  background-image: url("/images/circle.png");
}

.empty {
  background-image: none;
}

/*GAme won lost draw*/

/*
div {
  -webkit-transition: opacity 1s; 
  transition: opacity 1s;
}

*/

.whoWon{
  font-size:35px;
}
span.whoWon{
  display: inline-block;
  padding:20px;
}


.hide {
  display: none !important;
}

.show {
  display: show;
}

.opaque{
  opacity:0.3;
  z-index:-1;
}
